<h1><%= @one_people.last_name + " " + @one_people.first_name %></h1>

<p>
  Age: <%= @one_people.age%><br>
  compétence: <%= @one_people.competence %><br>
  Goût préféré: <%= @one_people.taste %>  
</p>